// :host {
//   #exampleColorInput {
//     min-width: 2.5rem;
//   }
//   .color-box {
//     min-width: 2rem;
//     min-height: 2rem;
//   }
// }


label {
  font-weight: 600;
  color: #666;
}
body {
background: #ffffff;
}
.box8{
// box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3{
margin-top: -3rem;
}
